In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_csv("batman_films.csv")
data.head()

,Year,Title,Rated,Director,Released,Writer,Production,Actors,Runtime,Awards,Imdb Votes,Imdb Rating,RottenTomatoScore,Metascore
0,1989,Batman,PG-13,Tim Burton,6/23/1989,"Bob Kane (Batman characters), Sam Hamm (story)...",Warner Bros. Pictures,"Michael Keaton, Jack Nicholson, Kim Basinger, ...",126 min,Won 1 Oscar. Another 8 wins & 26 nominations.,"323,942",7.5,72%,69.0
1,1992,Batman Returns,PG-13,Tim Burton,6/19/1992,"Bob Kane (Batman characters), Daniel Waters (s...",Warner Bros. Pictures,"Michael Keaton, Danny DeVito, Michelle Pfeiffe...",126 min,Nominated for 2 Oscars. Another 2 wins & 27 no...,"261,654",7.0,79%,68.0
2,1993,Batman: Mask of the Phantasm,PG,"Eric Radomski, Bruce Timm, Kevin Altieri, Boyd...",12/25/1993,"Bob Kane (character created by: Batman), Alan ...",Warner Bros. Pictures,"Kevin Conroy, Dana Delany, Hart Bochner, Stacy...",76 min,1 nomination.,"40,226",7.8,84%,NaN
3,1995,Batman Forever,PG-13,Joel Schumacher,6/16/1995,"Bob Kane (characters), Lee Batchler (story), J...",Warner Bros. Pictures,"Val Kilmer, Tommy Lee Jones, Jim Carrey, Nicol...",121 min,Nominated for 3 Oscars. Another 10 wins & 22 n...,"226,680",5.4,39%,51.0
4,1997,Batman & Robin,PG-13,Joel Schumacher,6/20/1997,"Bob Kane (Batman characters), Akiva Goldsman",Warner Home Video,"Arnold Schwarzenegger, George Clooney, Chris O...",125 min,10 wins & 22 nominations.,"224,614",3.7,11%,28.0

In [10]:
data.describe()

              Year  Imdb Rating  Metascore
count    19.000000    19.000000   9.000000
mean   2006.105263     7.226316  59.666667
std       9.579461     1.221948  18.472953
min    1989.000000     3.700000  28.000000
25%    1997.500000     6.600000  45.000000
50%    2010.000000     7.500000  68.000000
75%    2013.500000     8.000000  70.000000
max    2018.000000     9.000000  84.000000

In [12]:
 data.Runtime.value_counts()

76 min     6
126 min    2
121 min    1
125 min    1
70 min     1
140 min    1
152 min    1
75 min     1
64 min     1
164 min    1
151 min    1
120 min    1
78 min     1
Name: Runtime, dtype: int64

In [17]:
data = data[data.Runtime.apply(lambda x: x not in ["75 min","120 min"])]
data.Runtime.value_counts()

76 min     6
126 min    2
121 min    1
125 min    1
70 min     1
140 min    1
152 min    1
64 min     1
164 min    1
151 min    1
78 min     1
Name: Runtime, dtype: int64

In [18]:
data.RottenTomatoScore.value_counts()

84%     2
72%     1
79%     1
39%     1
11%     1
92%     1
90%     1
94%     1
88%     1
100%    1
87%     1
75%     1
28%     1
40%     1
73%     1
Name: RottenTomatoScore, dtype: int64

In [19]:
df = data[["Runtime", "RottenTomatoScore"]]
df.head()

   Runtime RottenTomatoScore
0  126 min               72%
1  126 min               79%
2   76 min               84%
3  121 min               39%
4  125 min               11%

Now IMbd Rating Vs RottenTomatoScore

In [34]:
 df.isnull().sum()

Runtime              0
RottenTomatoScore    1
dtype: int64